@model BankingProyect.ViewModels.InfoAccount

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/style.css" rel="stylesheet" />
<div class="info-client">
    <div>
        <div class="new-account">
            <a asp-action="NewAccount" asp-route-id="@Model.IdClient">Crear cuenta</a>
        </div>
        <hr />
        <div class="client">
            <label>Cliente:</label>
            <h2>@Model.FirstName @Model.LastName</h2>
        </div>
    </div>
    <div class="operation">
        <h3>Operation</h3>

        <select name="operation">
            <option value="0"> Select</option>
            @{
                foreach (var op in ViewBag.Operation)
                {
                    <option value="@op.IdOperation" > @op.Operation</option>
                }
            }

        </select>
    </div>
   
</div>



<hr />
<div class="row">
    <div class="col-md-4">
        <b> Account </b>
    </div>
    <div class="col-md-4">
        <b> Balance </b>
    </div>
    <div class="col-md-4">
        <b> Operations </b>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Model.Account
    </div>
    <div class="col-md-4">
        @Model.Balance
    </div>
    <div class="col-md-4">
        <div class="row ">
            <div class="col-md-6">
                <a class="link" href="/Account/Withdraw"><span class="glyphicon glyphicon-export">Transferir</span></a> 
            </div>
            <div class="col-md-6">
                <a class="link" href="/Account/Deposit"><span class="glyphicon glyphicon-save">Depositar</span></a>  
            </div>
        </div>
        
        
    </div>

</div>



